<h1>Jumping Jacks</h1>
<div id="counter">0</div>
<ul>
  <li id="start"><%= link_to "Start Jumpin'" %></li>
  <li id="stop"><%= link_to "Stop Jumpin'" %></li>
  <li id="reset"><%= link_to "Reset Counter" %></li>
</ul>
